* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira Extra Condensed', sans-serif;
    overflow-x: hidden;
}

body {
    background-image: linear-gradient(to right, rgb(28, 1, 49) , rgb(20, 18 , 18));
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 140px;
    overflow: hidden;
    transition: .5s;
}
nav button {
    background-color: transparent;
    border: none;
    color: #FFF;
    font-size: 36px;
    position: absolute;
    right: 10px;
    top: 24px;
    display: none;
    cursor: pointer;
}

.menuHa {
    height: 175px;
}

ul{
    display: flex;
}

.logo span {
    cursor: pointer;
    font-size: 2.5rem;
    color: white;
    font-weight: bolder;
}

nav ul li {
    font-size: 1.25rem;
    font-weight: bolder;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    transition: .5s ease;
    opacity: 0.5;
}

li{
    list-style: none;
    padding: 0 20px;
}

.container {
   max-width: 1100px;
   margin: 0 auto;
   text-align: center;
   overflow: hidden;
   
}

.profile img {
    border-radius: 10px;
    width: 220px;
    height: 400px;
    object-fit: cover;
    box-shadow: 0px 0 11px 2px blueviolet;
}

.profile h1 {
    font-size: 4.0rem;
    font-weight: bolder;
    color: blueviolet;
}

.profile h2 {
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
}

.arrow {
    cursor: pointer;
    color: white;
    font-size: 2.0rem;
    transition: .8s ease;
    -webkit-animation: jello-horizontal 1.3s both infinite;
	animation: jello-horizontal 1.3s both infinite;

}

.contact {
    width: 800px;
    margin: 0 auto;
    display: none;
    margin-bottom: 200px;
}

.contact h2 {
    color: white;
}

.contact p {
    font-size: 2.0rem;
    letter-spacing: 15px;
    font-weight: bold;
    color: blueviolet;
    margin-top: 20px;
}

.form {
    margin-top: 20px;
}
.contact input {
    padding: 6px;
    width: 300px;
    border-radius: 5px 0 0 5px;
    border: none;
    outline: none;
}

.contact button {
    padding: 6px 20px;
    border: none;
    cursor: pointer;
    background-color: blueviolet;
    border-radius: 0 5px 5px 0;
    color: rgb(255, 255, 255);
    opacity: 0.5;
    transition: .5s ease;
    margin-left: -3px;
    
}
.contact button:hover {
    opacity: .8;
}

.displayCont {
    display: block;
}
.modal-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 255, 0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal {
  background-color: white;
  width: 25%;
  min-width:300px;
  padding: 40px;
  height: 415px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 19px rgb(0, 0, 0);
  position: relative;
  text-align: center;
}

.modal button {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2.0rem;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    background: none;
    
}

.modalText {
    align-items: center;
    margin-top: 130px;
}

.modal-container.mostrar{
    display: flex;
}

/* Aninamções */
@-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
.rotate {
    transform: rotate(180deg);
    transition: .5s;
}

.active {
    display: block !important;
}

.text-focus-in {
	-webkit-animation: text-focus-in 1.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@media (max-width: 870px) {

    .contact {
        width: 90%;
    }
    
}

@media (max-width: 500px){

    nav {
        margin-bottom: 40px;
        display: block
    }

    ul {
        text-align: center;
        display: block;
    }
    
    nav button {
        display: flex;
    }
    .contact input {
        width: 50%;
    }
    .contact p {
        font-size: 1.8rem;
        letter-spacing: 5px;
    }
}